/*
  Target All Paragraphs
*/

p {
    color: rgb(54, 122, 54);
  }
  p {
    color: rgb(0, 217, 255);
  }
  
  .zon{
    width: 100px;
    height: 100px;
    color: #000;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
   