/*
  Target All Paragraphs
*/

p {
    color: rgb(54, 122, 54);
  }
  p {
    color: rgb(0, 217, 255);
  }
  
  div{
    width: 400px;
    height: 400px;
  }
  .assign-2-shape-1{
    background-image: url(../audio/css-assignment-5-8.png);
   
 
  }
  
  .assign-2-shape-2{
    background-image: url(../audio/css-assignment-5-8.png);
  }
  .assign-2-shape-3{
    background-image: url(../audio/css-assignment-5-8.png);
  }
  .assign-2-shape-4{
    background-image: url(../audio/css-assignment-5-8.png);
  }
   