/*
  Target All Paragraphs
*/

p {
    color: rgb(54, 122, 54);
  }
  p {
    color: rgb(0, 217, 255);
  }
  
  .zon{
  
    color: #000;
    text-shadow: 5px 1px 0 rgb(0, 217, 255);
    direction: ltr;
    text-decoration: underline;

  }
  .google{
    text-decoration: none;
    text-transform: lowercase;
  
  }
  
  
   